
<div class="modal fade" id="signup-success" tabindex="-1" role="dialog" aria-labelledby="signin / signup"
        aria-hidden="true" #successModal>
        <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="signup-success">
                        <h4 class="success">Great!</h4>
                        <p>You are successfully signed up to RPA Jobs</p>
                        <button class="button list-apply-button" data-toggle="modal" data-target="#login" data-dismiss="modal">Login To Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
