<div class="footer-top">
  <div class="container">
      <div class="quick-links">
          <a href="./index.html"><img src="./../../assets/images/logo-white.svg" alt="Rpa-jobs-logo"></a>
          <ul>
              <li><a href="#" [routerLink]="['/']">Home</a></li>
              <li><a href="#" [routerLink]="['/about']" >What is RPA Jobs</a></li>
              <li><a href="#">Find Jobs</a></li>
              <li><a href="#">Find Resumes</a></li>
          </ul>
      </div>
      <hr>
      <div class="footer-content row justify-content-between">
          <div class="col-md-4">
              <p>Browse the latest RPA jobs & create your UX Profile to connect with the best companies.Browse the
                  latest RPA jobs & create your UX Profile to connect with the best companies.</p>
              <p>Browse the latest RPA jobs & create your UX Profile to connect with the best companies.</p>
          </div>
          <div class="col-md-4 text-right footer-address">
              <ul>
                  <li><a href="#" target="_blank"><img src="./../../assets/images/icons/socialmedia/twitter.png" alt="Twitter Logo"></a></li>
                  <li><a href="#" target="_blank"><img src="./../../assets/images/icons/socialmedia/linkedin.png" alt="LinkedIn Logo"></a></li>
                  <li><a href="#" target="_blank"><img src="./../../assets/images/icons/socialmedia/facebook.png" alt="Facebook Logo"></a></li>
              </ul>
              <img src="./../../assets/images/icons/footer-location.png" alt="Map">
              <p>S1 & S2, 2nd Floor, B Block, Ameen Manors, Nungambakkam High Rd, Nungambakkam, Chennai, Tamil
                  Nadu 600034.</p>
          </div>
      </div>
  </div>
</div>
<div class="copy-ribbon">
  &copy; rpajobs 2018
</div>
