<div class="modal fade" id="subscription-premium" tabindex="-1" role="dialog" aria-labelledby="subscription-premium"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Premium</h3>
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <p class="plan-cost"><span class="currency-symbol">₹</span><span
                                class="currency">299</span><span class="period">/month</span></p>
                        <ul class="premium-list">
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation.</li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation.</li>
                        </ul>
                        <div class="col-md-12 text-center"><a href="javascript:void(0)"
                                class="button secondary-button">subscribe</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>