<section class="index-inter-banner2">
    <div class="primary-bg">
        <div class="index-inter-banner2-contents">
            <h4 class="section-heading white">Are you an <span>Employer</span><br>looking for
                the<br><span>Perfect Profile</span></h4>
            <p class="content-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
            <button class="button primary-button">Post a Job</button>
        </div>
    </div>
</section>
