span.error{
  font-family: 'Chivo', sans-serif;
  font-size: 12px;
  color: #F82F2F;
  margin: 0;
  display: block;
  text-align: left;
  margin-left: 14px;
  position: absolute;
}

.server-feedback{
  font-family: 'Chivo', sans-serif;
  font-size: 12px;
  color: #F82F2F;
}
