<div class="modal fade" id="reset-password" tabindex="-1" role="dialog" aria-labelledby="signin / signup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3 class="modal-title">Reset<span> Password</span></h3>
                <p class="server-feedback text-center" *ngIf="serverError">{{errorMessage}}</p>
                <div class="row">
                    <div class="col-md-7 text-center mx-auto">
                        <form action="" id="reset-password-modal" class="password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                            <input type="email" formControlName="emailId" placeholder="Email id">
                            <span class="error" *ngIf="resetPasswordForm.get('emailId').invalid && resetPasswordForm.get('emailId').touched">Please enter a valid email</span>
                            <button class="button primary-button" [disabled]="!resetPasswordForm.valid" type="submit">Reset My Password</button>
                        </form>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  