<div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" aria-labelledby="Forgot Password"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3 class="modal-title">Forgot<span> Password</span></h3>
                <p class="server-feedback text-center" *ngIf="serverError">{{errorMessage}}</p>
                <div class="row">
                    <div class="col-md-7 text-center mx-auto">
                        <form action="" id="forgot-password-modal" class="password-form"
                            [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <input type="email" formControlName="emailId" placeholder="Email id">
                            <span class="error"
                                *ngIf="forgotPasswordForm.get('emailId').invalid && forgotPasswordForm.get('emailId').touched">Please
                                enter a valid email</span>
                            <button class="button primary-button" [disabled]="!forgotPasswordForm.valid"
                                type="submit">Reset My
                                Password</button>
                        </form>
                    </div>
                </div>
                <p class="alternate-signup text-center"><a href="#" class="signup-login-switch"
                        data-modal-content="signup" data-toggle="modal" data-target="#login"
                        data-dismiss="modal">Login</a></p>
            </div>
        </div>
    </div>
</div>