<main>
    <div class="container">
        <div class="header-section d-flex align-items-center">
            <a href="/posted-jobs">Posted Jobs</a>
            <img src="./../../../../assets/images/icons/navigation/next-color.png" class="mx-2">
            <a href="applied-list/1">Job Title</a>
            <img src="./../../../../assets/images/icons/navigation/next-color.png" class="mx-2">
            <a href="viewjob-desc/1">Job Description</a>

        </div>
    </div>
    <div class="container">
        <div class="col-md-12 d-flex p-0">

            <div class="col-md-9 pl-0">
                <div class="form-section posted-jobs ">
                    <div class="col-md-12 d-flex p-0 align-items-end">
                        <div class="col-md-7 pl-0 text-left">
                            <div class="mb-2"><span class="job_title">Developer</span><span class="job_type">Job Type</span></div>
                            <div class="tools-apply mb-2">
                                <div class="tools flex-fill">
                                    <ul>
                                        <!-- <li *ngFor= "let tool of job.tools">{{tool}}</li> -->
                                        <li>Blue Prism</li>
                                        <li>UI Path</li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="details">
                                <li><img src="./../../../assets/images/icons/experience-color.png" alt="Experience">3 to 5 Yrs
                                </li>
                                <li><img src="./../../../assets/images/icons/salary-color.png" alt="Salary">3L - 5L/ month</li>
                                <li><img src="./../../../assets/images/icons/location-color.png" alt="Location">Chennai</li>
                            </ul>

                        </div>
                        <div class="col-md-5 text-right">
                            <div></div>
                            <div class="date_field">
                                <div class="col-md-8 pl-0">Posted on 29 Mar,2019</div>
                                <div class="col-md-2 pr-0">
                                    <a href="/post-job"><img src="./../../../assets/images/edit.svg"></a>
                                </div>
                                <div class="col-md-2 pr-0">
                                    <a href="#"><img src="./../../../assets/images/delete.svg"></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr/>
                    <div class="col-md-12 p-0 job_desc">
                        <div class="job_desc_title"> Job Description</div>
                        <p class="job_description">
                            Etiam quis interdum felis, at pellentesque metus. Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt, vitae mollis ante
                            imperdiet. Nulla imperdiet at mauris ut posuere.

                        </p>
                        <p class="job_description">
                            Etiam quis interdum felis, at pellentesque metus. Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt, vitae mollis ante
                            imperdiet. Nulla imperdiet at mauris ut posuere.

                        </p>
                        <p class="job_description">
                            Etiam quis interdum felis, at pellentesque metus. Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt, vitae mollis ante
                            imperdiet. Nulla imperdiet at mauris ut posuere.

                        </p>
                        <p class="job_description">
                            Etiam quis interdum felis, at pellentesque metus. Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt, vitae mollis ante
                            imperdiet. Nulla imperdiet at mauris ut posuere.

                        </p>
                        <p class="job_description">
                            Etiam quis interdum felis, at pellentesque metus. Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt, vitae mollis ante
                            imperdiet. Nulla imperdiet at mauris ut posuere.

                        </p>

                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="company_sidebar">
                    <div class="col-md-12 p-0">
                        <div class="company_tit"><img class="company_icon" src="./../../../assets/images/apple.svg">Apple</div>
                        <div class="company_desc">
                            <p>Browse the latest RPA jobs & create your UX Profile to connect with the best companies.Browse the latest RPA jobs Browse the latest RPA jobs & create your UX Profile.</p>
                        </div>
                        <div class="contact_details"><img src="./../../../assets/images/phone.svg"> +91-36596586225</div>
                        <div class="contact_details"><img src="./../../../assets/images/envelope.svg"> IBM@ibmmail.com</div>
                        <div class="contact_details"><img src="./../../../assets/images/location.svg"> Head Office Mumbai</div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</main>