select.ng-invalid.ng-touched{
  border: #F82F2F solid thin;
}

select.ng-valid.ng-touched{
  border: #59D5A9 solid thin;
}

label.neutral{
  font-family: 'Chivo', sans-serif;
  font-size: 12px;
  color: #443B6F;
}
