<div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-labelledby="change password" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3 class="modal-title">Change<span> Password</span></h3>
                <p class="server-feedback text-center" *ngIf="serverError">{{errorMessage}}</p>
                <div class="row">
                    <div class="col-md-7 text-center mx-auto">
                        <form action="" id="change-password-modal" class="password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                            <label for="">Current Password <sup>*</sup></label>
                            <input type="password" formControlName="current-password" placeholder="Current Password">
                            <span class="error" *ngIf="changePasswordForm.get('current-password').invalid && changePasswordForm.get('current-password').touched">Please enter a Current Password</span>
                            <label for="">New Password <sup>*</sup></label>
                            <input type="password" formControlName="new-password" placeholder="New Password">
                            <span class="error" *ngIf="changePasswordForm.get('new-password').invalid && changePasswordForm.get('new-password').touched">Please enter a New Password</span>
                            <label for="">Confirm Password <sup>*</sup></label>
                            <input type="password" formControlName="confirm-password" placeholder="Confirm Password">
                            <span class="error" *ngIf="changePasswordForm.get('confirm-password').invalid && changePasswordForm.get('confirm-password').touched">Please enter a Confirm Password</span>
                            <button class="button secondary-button" [disabled]="!changePasswordForm.valid" type="submit">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  